@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Nanum Myeongjo", serif;
  background-color: #eff6ff;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #bfdbfe;
  align-items: center;
}

header h1 {
  font-size: 24px;
}

button {
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #3b82f6;
  border: none;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button:active {
  background-color: #3b83f6cc;
}

header button {
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
}

table {
  margin: 20px;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  align-content: start;
  text-wrap: wrap;
  font-size: 1.2rem;
}

td:nth-child(1),
th:nth-child(1) {
  width: 250px;
}

td:nth-child(2),
th:nth-child(2) {
  width: 200px;
  overflow-wrap: break-word;
}

td:nth-child(3),
th:nth-child(3) {
  width: 100px;
}

td:nth-child(4),
th:nth-child(4){
  width: 228px;
}

tbody tr:nth-child(odd) {
  background-color: #dbeafe;
}

tbody td:nth-child(4) {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

tbody td:nth-child(4)

.status-btn {
  font-size: 12px;
  border-radius: 20px;
  line-height: 14px;
  padding: 4px 10px;
  
}

.delete-btn {
  padding: 5px 30px;
  border-radius: 4px;
}

fieldset p:nth-child(4) {
  display: flex;
  flex-direction: column;
}

dialog {
  margin: auto;
  width: 50%;
  border-radius: 4px;
  border: none;
  
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

fieldset {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 2px;
}


.input-fields:last-child{
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.input-fields:last-child button{
  width: 100%;
  padding: 10px 20px;
  border-radius: 4px;
}